 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;

  list-style: none;
}
li{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
img{
  width: 5rem;
  border-radius: 50%;
  object-fit: cover;
  height: 5rem;
}
form{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.formField{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}
input{
  padding: 0.5rem;
}
button{
  background-color: green;
  padding: 0.5rem;
} 

